/*Thumbnails css*/
@import '../../css/variables.scss';

.Thumbnail {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 2rem;
	position: relative;

	@media (max-width: $phablet) {
		grid-template-columns: 1fr 4fr;
	}

	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
	}
}

.Info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.Info__data {
	position: relative;
}

.Info__title {
	font-size: 2.4rem;
	display: inline-block;
	color: $blueAction;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 65%;
	@media (max-width: $phablet) {
		max-width: 75%;
	}
	@media (max-width: $medium) {
		max-width: 55%;
	}
}

.Info__voteHolder {
	position: absolute;
	top: 3px;
	right: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.Info__voteAverage {
	font-size: 2.2rem;
	margin-bottom: 0.5rem;
}

.Info__voteAverage--imdb {
	background: url('../../assets/svg/IMDB.svg');
	background-size: 31px;
	width: 31px;
	height: 15px;
}

.Info__voteAverage--torrent {
}

.Info__calendar {
	margin-right: 0.7rem;
}

.Info__voteStars {
	margin-left: 0.5rem;
	font-size: 1.9rem;
}

.Info__overview {
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 140px;
	@media (max-width: $mobile) {
		max-height: 100%;
	}
}

.Info__viewMore {
	border-top: 1px solid $grayLight;
	padding-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}
