@import '../../css/variables.scss';

.Movie__trailerHolder {
	min-width: 270px;
	min-height: 200px;
	position: relative;
	background: $grayLight;
	cursor: pointer;
}

.Movie__trailerHolderInner {
	height: 100%;
	min-height: 200px;
	background-size: cover !important;

	@media (max-width: $mobile) {
		min-height: 250px;
	}
}

.Movie__playBtn {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-sizing: content-box;
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;

	&:before,
	&:after {
		content: '';
		position: absolute;
		z-index: 0;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		display: block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: $bluePassive;
		animation: pulse-border 1500ms ease-out infinite;
	}

	&:after {
		background: $blueAction;
		transition: all 200ms;
		animation: none;
	}

	&:hover {
		&:after {
			background-color: lighten($blueAction, 10%);
		}
	}
}

.Movie__playBtnIco {
	display: block;
	position: relative;
	left: 3px;
	top: -1px;
	z-index: 50;
	background: url('../../assets/svg/play-button.svg');
	width: 25px;
	height: 25px;
	background-size: 25px;
	pointer-events: none;
}

@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

