/*sliders css*/
@import "../../css/variables.scss";

.input-range__slider {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: $blueAction;
	border: 1px solid $blueAction;
	border-radius: 100%;
	cursor: pointer;
	display: block;
	height: 1em;
	margin-left: -0.5em;
	margin-top: -0.65em;
	outline: none;
	position: absolute;
	top: 50%;
	-webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
	transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
	transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
	width: 1em;
    @media (max-width: $mobile) {
        font-size: 120%;
    }
}

.input-range__slider:active {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.input-range__slider:focus {
	box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.input-range--disabled .input-range__slider {
	background: #cccccc;
	border: 1px solid #cccccc;
	box-shadow: none;
	-webkit-transform: none;
	transform: none;
}

.input-range__slider-container {
	-webkit-transition: left 0.3s ease-out;
	transition: left 0.3s ease-out;
}

.input-range__label {
	color: #aaaaaa;
	font-family: "Helvetica Neue", san-serif;
	font-size: 0.8em;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
	bottom: -0.6em;
	position: absolute;
}

.input-range__label--min {
	left: 0;
}

.input-range__label--max {
	right: 0;
}

.input-range__label--value {
	position: absolute;
	top: -2.2em;
}

.input-range__label-container {
	left: -50%;
	position: relative;
}

//.input-range__label--min .input-range__label-container {
//    left: 0;
//}
.input-range__label--max .input-range__label-container {
	left: 50%;
}

.input-range__sliderTitle {
	text-align: center;
}

.input-range__track {
	background: #eeeeee;
	border-radius: 0.3em;
	cursor: pointer;
	display: block;
	height: 0.3em;
	position: relative;
	-webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
	transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range--disabled .input-range__track {
	background: #eeeeee;
}

.input-range__track--background {
	font-size: 130%;
	left: 0;
	margin-top: -0.15em;
	position: absolute;
	right: 0;
	top: 50%;
}

.input-range__track--active {
	background: $bluePassive;
}

.input-range {
	height: 4em;
	position: relative;
	width: 100%;
}
