/*CurrentPageToggle css*/
@import '../../css/variables.scss';

$width: 200px;
$widthMob: 130px;
$height: 38px;

.Toggle__btn {
	position: relative;
	display: inline-block;
	min-width: $width;
	height: $height;
	z-index: 5;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.Toggle__btn--browse {
	border-radius: 2px 0 0 2px;
}

.Toggle__btn--search {
	border-radius: 0;
}

.Toggle__btn--list {
	border-radius: 0 2px 2px 0;
}
.activePage--browse .Toggle__btn--browse,
.activePage--search .Toggle__btn--search,
.activePage--list .Toggle__btn--list {
	background-color: $blueAction;
	color: $white;
}
