/*Shared css*/
@import './variables.scss';

.Poster__img {
	margin-bottom: 2rem;
	min-width: 130px;
	max-width: 60%;
}

.Poster__img--large {
	max-width: 100%;
	min-width: 90px;
}

.Poster__img--NoImage {
	font-size: 13rem;
	color: $black;
}

.Poster__link {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.GridHolder {
	display: grid;
}

.GridHolder--gap2 {
	grid-gap: 2rem;
}

.GridHolder--gap6 {
	grid-gap: 6rem;
}

.GridHolder--oneCol {
	grid-template-columns: 1fr;
}

.GridHolder--twoCol {
	grid-template-columns: 1fr 1fr;
	@media (max-width: $phablet) {
		grid-template-columns: 1fr;
	}
}

.GridHolder--threeCol {
	grid-template-columns: 1fr 1fr 1fr;
	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
	}
}

#main {
	.h-marginT {
		margin-top: 2rem;
	}

	.h-marginB {
		margin-bottom: 2rem;
	}

	.h-marginR {
		margin-right: 2rem;
	}

	.h-paddingLR {
		padding-left: 15px;
		padding-right: 15px;
	}

	.h-paddingAll {
		padding: 15px;
	}

	.h-paddingAll--sm {
		padding: 10px;
	}

	.h-whitePanel {
		background: $white;
		border-radius: 2px;
		border: 1px solid $bluePassive;
	}

	.h-flex {
		display: flex;
	}

	.h-zIndex-15 {
		position: relative;
		z-index: 15;
	}

	.h-height {
		height: 100%;
	}

	.h-fontXs {
		font-size: 1rem;
	}

	.h-fontSm {
		font-size: 1.2rem;
	}

	.h-txtBold {
        font-weight: bold;
	}

    .h-errorBox {
        font-weight: bold;
        outline: 1px solid red;
        color: red;
        padding: 5px;
    }
}

.Button {
	display: inline-block;
	cursor: pointer;
	padding: 9px;
	color: $white;
	border-radius: 2px;
	min-width: 160px;
	transition: background-color 0.3s;
	&:hover {
		opacity: 0.8;
	}
}

.Button--primary {
	background-color: $blueAction;
}

.Button--secondary {
	background-color: $bluePassive;
}

.Button--searchBox {
	min-width: initial;
	border-radius: 0 2px 2px 0;
}

.form-control {
	border-color: $bluePassive;
	border-radius: 2px 0 0 2px;
}

.Input {
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
}

input[type='email']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='text']:focus {
	outline: 1px solid $blueAction;
}
