/*Reset*/
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	height: 100%;
}

body {
	font-weight: 400;
	line-height: 1.5;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

ol {
	margin: 0;
	padding: 0;
}

input,
textarea {
	cursor: text;
	border: none;
}

input:focus,
textarea:focus {
	outline: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input:focus,
	select:focus,
	textarea:focus {
		font-size: 14px;
	}
}

input[type='checkbox'] {
	margin: 0 5px 0 0;
}

button {
	border: none;
	background: none;
}
