$white: #fff;
$black: #272b30;
$grayDark: #8d8d8d;
$grayLight: #f2f2f2;
$gray: #c8c8c8;
$grayDisabled: rgba(201, 223, 232, 0.45);
$green: #20876a;

$bluePassive: #c7e5f1;
$blueAction: #58b1d4;

$red: #ee5f5b;
$orange: #f89406;

$paddingAll: 4rem;

$mobile: 468px;
$phablet: 780px;
$medium: 930px;
